<h1 class="ui top attached medium header">All Entries</h1>
<div class="ui attached raised segment" id="content">
    <table class="ui very basic table">
        <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Tags</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <p class="no-entries">There are no entries. C'mon create some...</p>
</div>

