<div>
    <h1 class="ui medium header">
        <i class="open folder icon"></i> All Entries
    </h1>

    <table class="ui basic table">
        <thead>
            <tr>
                <th>Name</th>
                <th colspan="2">Tags</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <p class="no-entries">There are no entries. C'mon create some...</p>
</div>