<div class="ui page grid">

    <div class="sixteen wide column">
        <div class="ui secondary pointing menu">
            <a class="active item">
                <i class="home icon"></i> Home
            </a>
            <a class="item">
                <i class="folder icon"></i> Categories
            </a>
            <a class="item">
                <i class="tags icon"></i> Tags
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <a class="ui item">
                    Logout
                </a>
            </div>
        </div>
    </div>

    <div class="twelve wide column">
        <div class="ui segment">
            <entry-list />
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            asd
        </div>
    </div>
</div>