<div class="ui page grid">


    <div class="sixteen wide column">
        <div class="ui secondary pointing large menu" id="navigation">
            <a class="item dashboard" href="#/dashboard">
                <i class="dashboard icon"></i> Dashboard
            </a>
            <a class="item entries" href="#/entries">
                <i class="content icon"></i> Entries
            </a>
            <a class="item">
                <i class="folder icon"></i> Categories
            </a>
            <a class="item">
                <i class="tags icon"></i> Tags
            </a>
            <a class="ui item">
                <i class="sign out icon"></i> Logout
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui vertical menu">
            <a class="teal item">
                Shops
                <div class="ui teal label">1</div>
            </a>
            <a class="item">
                Coding
                <div class="ui label">51</div>
            </a>
            <a class="item">
                Stuff
                <div class="ui label">1</div>
            </a>
        </div>
    </div>
    <div class="twelve wide column" id="content"></div>
</div>